<div class="col-sm-12 p-3  border my-3 rounded shadow-sm">
    <form class="row" [formGroup]="frmGrpEventTeamTrack">
        <legend>Event Team Track</legend>
        <div class="col-sm-12 row">
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Event Track</label>
                <input 
                    type="text" 
                    class="form-control"  
                    readonly 
                    placeholder="Event Track"
                    formControlName="Code"
                >
            </div>
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Temps Brut</label>
                <input type="text" class="form-control" id="inputEmail4" readonly placeholder="Temps Brut">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Temps Net</label>
                <input type="email" class="form-control" id="inputEmail4" readonly placeholder="Temps Net">
            </div>
        </div>
        <div class="col-sm-12 row">
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Départ</label>
                <input type="text" class="form-control" id="inputEmail4" readonly placeholder="Départ">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Total Bonus</label>
                <input type="text" class="form-control" id="inputEmail4" readonly placeholder="Total Bonus">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Total Malus</label>
                <input type="email" class="form-control" id="inputEmail4" readonly placeholder="Total Malus">
            </div>
        </div>
        <div class="col-sm-12 row">
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Arrivée</label>
                <input type="text" class="form-control" id="inputEmail4" readonly placeholder="Arrivée">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Delta Bonus Malus</label>
                <input type="text" class="form-control" id="inputEmail4" readonly placeholder="Delta Bonus Malus">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Total Pénalités</label>
                <input type="email" class="form-control" id="inputEmail4" readonly placeholder="Total Pénalités">
            </div>
        </div>
        <div class="col-sm-12 row">
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Total Neutralisation</label>
                <input type="text" class="form-control" id="inputEmail4" readonly placeholder="Total Neutralisation">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Temps Final</label>
                <input type="text" class="form-control" id="inputEmail4" readonly placeholder="Temps Final">
            </div>
            <div class="col-sm-4">
                <label for="inputEmail4" class="form-label">Total Pénalités</label>
                <input type="email" class="form-control" id="inputEmail4" readonly placeholder="Total Pénalités">
            </div>
        </div>
        
    </form>
</div>
