<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-4  mt-5">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Code</th>
            <th>Name</th>
            <th>Date</th>
            <th>MaxNetTime</th>
            <th>OptimisticLockField</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of events;index as i">
            <td>{{ i+1 }}</td>
            <td>{{ event.Code}}</td>
            <td>{{ event.Name }}</td>
            <td>{{ event.Date }}</td>
            <td>{{ event.MaxNetTime }}</td>
            <td>{{ event.OptimisticLockField}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<app-footer></app-footer>

