<div class="mt-3 d-flex  d-flex-row gap-3 justify-content-evenly">
       
    <button class="btn  btn-lg btn-primary fs-5 shadow-lg"  (click)="firedColor('A')" type="button">
        <span class="badge text-bg-light">A</span>
        Bleu
    </button>
    <button class="btn btn-lg  btn-danger  fs-5 shadow-lg"  (click)="firedColor('B')">
       <span class="badge text-bg-light">B</span>
        Rouge
    </button>
    
    <button class="btn btn-lg btn-success fs-5 shadow-lg" (click)="firedColor('C')">
        <span class="badge text-bg-light">C</span>
        Vert
    </button>
    
</div>
