
  <div class="row">
    <div class="col-sm-6 offset-sm-3  mt-5">
      <caption class="mb-3 col-sm-12 text-center fw-bolder fs-5 text-capitalize bg-info bg-gradient py-2 shadow-sm border rounded text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
        </svg>
        Events
      </caption>
      <form [formGroup]="frmGroupEvent" (ngSubmit)="onSubmit()"
        class="bg-body-secondary p-sm-4 bs5-card-border border-1 rounded-4 shadow-sm">
        <div class="row mb-3 mt-6">
          <label for="colFormLabelSm" class="col-sm-4 col-form-label col-form-label-sm">Code <span class="text-danger">*</span></label>
          <div class="col-sm-8">
            <input type="text"
              required
              formControlName="Code"
              name="Code"
              class="form-control form-control-sm"
              id="colFormLabelSm"
              placeholder="Code...">
          </div>
          <div class="col-sm-4"></div>
          <div *ngIf="Code?.invalid && (Code?.touched || Code?.dirty)" class="col-sm-8 text-danger mx-auto"> Le Code est requis</div>
          
        </div>
        <div class="row mb-3">
          <label for="colFormLabel" class="col-sm-4 col-form-label col-form-label-sm">Name <span class="text-danger">*</span></label>
          <div class="col-sm-8">
            <input type="text"
              required
              formControlName="Name"
              name="Name"
              class="form-control form-control-sm"
              id="colFormLabel"
              placeholder="Name...">
          </div>
          <div class="col-sm-4"></div>
          <div *ngIf="Name?.invalid && (Name?.touched || Name?.dirty)" class="col-sm-8 text-danger mx-auto"> Le Nom est requis</div>
        </div>
        <div class="row mb-3">
          <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">Date <span class="text-danger">*</span></label>
          <div class="col-sm-8">
            <input type="date"
              required
              formControlName="Date"
              class="form-control form-control-sm"
              id="colFormLabelLg"
              placeholder="Date...">
          </div>
          <div class="col-sm-4"></div>
          <div *ngIf="Date?.invalid && (Date?.touched || Date?.dirty)" class="col-sm-8 text-danger mx-auto"> La date est requise</div>
        </div>
        <div class="row mb-3">
          <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">MaxNetTime </label>
          <div class="col-sm-8">
            <input type="text"
              formControlName="MaxNetTime"

              class="form-control form-control-sm"
              id="colFormLabelLg"
              placeholder="MaxNetTime...">
          </div>
        </div>
        <div class="row mb-3">
          <label for="colFormLabelLg" class="col-sm-4 col-form-label col-form-label-sm">OptimisticLockField</label>
          <div class="col-sm-8">
            <input type="number"
              formControlName="OptimisticLockField"
              class="form-control form-control-sm"
              id="colFormLabelLg"
              placeholder="OptimisticLockField...">
          </div>
        </div>
        <div class="row mb-sm-2">
          <div class="col-sm-4 offset-4">
            <button *ngIf="isAddMode"  type="submit" [disabled]="frmGroupEvent.status=='INVALID'" class="btn btn-primary">Enregistrer</button>
            <button *ngIf="!isAddMode"  type="submit" [disabled]="frmGroupEvent.status=='INVALID'" class="btn btn-primary">Mettre à jour</button>

          </div>
        </div>
      </form>

    </div>
  </div>


